//variables
//fonts
$font: 'Exo 2', Arial, sans-serif;

//colors
$text: #000;
$bg: #ffffff;

//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/banner";
@import "sections/actions";
@import "sections/advantages";
@import "sections/promo";
@import "sections/certs";
@import "sections/revs";
@import "sections/photos";
@import "sections/rates";
@import "sections/exs";
@import "sections/how";
@import "sections/prices";
@import "sections/resps";
@import "sections/feed";
@import "sections/map";
@import "sections/second";
@import "sections/faq";
@import "sections/third";
@import "sections/footer";



.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}