include ../common/_mixins
include ../common/_settings

.revs#revs
    .container
        .revs__top
            .revs__points.
                <svg xmlns="http://www.w3.org/2000/svg" width="139" height="107" viewBox="0 0 139 107">
                    <g>
                        <g opacity=".5">
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M11 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M11 37.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M11 69.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M11 101.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M43 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M43 37.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M43 69.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M43 101.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M75 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M75 37.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M75 69.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M75 101.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M107 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M107 37.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M107 69.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M107 101.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M139 5.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M139 37.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M139 69.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                            <g opacity=".5">
                                <path fill="#c4c4c4" d="M139 101.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </g>
                        </g>
                    </g>
                </svg>

            h2.revs__title.title
                span.line
                    span.line__txt Видео отзывы
            .revs__quad
                +image('images/icons/quad.png','revs__quad-img')
        .revs__bottom
            .revs__block
                .row
                    a(href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' data-fancybox).revs__video
                        .revs__video-play
                        +image('images/content/revs/img.jpg','revs__video-img')

                    .revs__content
                        .revs__content-title Николай Новиков
                        .revs__content-sub Директор компании “Нефть и Газ”
                        .revs__content-txt
                            | Выражаю огромную благодарность всему коллективу клиники "Lotos". В особенности Писаревой Александре, Новикову Артуру за преданность своему делу, профессионализм, отзывчивость.
                            | Исраилову Муслиму огромную благодарность за открытие такой прекрасной клиники и за таких потрясающих сотрудников, которые всегда находят подход к каждому клиенту.
                            | Долгих лет службы и процветания клинике "Lotos".
            .revs__slider
                a(href='/').revs__prev.revs__arr.
                    <svg xmlns="http://www.w3.org/2000/svg" width="39" height="63" viewBox="0 0 39 63">
                        <path fill="#f2c94c" d="M0 30.792l32.66 31.273 6.34-6.47-26.25-24.803L39 5.99 32.66-.48z"/>
                    </svg>

                .swiper-container.revs__slider-container
                    .swiper-wrapper.revs__slider-wrapeper
                        each i,x in revsSlides
                            .swiper-slide.revs__slide
                                a(href='https://www.youtube.com/watch?v=_sI_Ps7JSEk' data-fancybox).rev
                                    span.rev__img
                                        +image('images/content/revs/' + (x + 1) + '.jpg','rev__img-img')
                                    span.rev__bottom
                                        span.rev__name= i
                                        span.rev__prof Директор компании “Нефть и Газ”


                a(href='/').revs__next.revs__arr.
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="63" viewBox="0 0 40 63">
                        <path fill="#f2c94c" d="M39.66 31.792L7 .52.66 6.99l26.25 24.802L.66 56.595 7 63.065z"/>
                    </svg>







