.certs{
  padding-top: 65px;
  padding-bottom: 80px;
  border-bottom: 1px solid #cccccc;
  @include lg-block{
    padding-bottom: 60px;
  }
  @include sm-block{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    position: relative;
    @include lg-block{
      margin-bottom: 0;
    }
    @include sm-block{
        justify-content: center;
      margin-bottom: 40px;
    }
  }

  &__quad{
    @include sm-block{
      max-width: 55px;
      position: absolute;
      left: 0;
      top: -20px;
    }
  }

  &__points{
    @include sm-block{
      position: absolute;
      right: 0;
      bottom: -200px;
    }
    svg{
      @include sm-block{
        width: 76px;
        height: 59px;
      }
    }

  }

  &__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__slider{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    @include sm-block{
      margin-bottom: 10px;
    }

    &-container{
      padding: 30px;
      @include lg-block{
        padding: 0;
        margin: 0 20px;
        flex-grow: 1;
      }
      @include sm-block{
        margin: 0 10px;
      }
    }

    &-wrapper{
      align-items: center;
    }

  }

  &__arr{
    svg{
      @include lg-block{
        width: 24px;
        height: 38px;
      }
      @include sm-block{
        width: 20px;
        height: 31px;

      }
    }
  }

  &__pag{
    .swiper-pagination-bullet{
      width: 20px;
      height: 20px;
      border: 2px solid #b1b1b1;
      border-radius: 50%;
      @include tr;
      background: none;
      opacity: 1;
      margin: 0 10px;
      @include lg-block{
        width: 16px;
        height: 16px;
      }
      @include sm-block{
        width: 12px;
        height: 12px;
      }
    }
    .swiper-pagination-bullet-active{
      background-color: #f2c94c;
      border-color: #f2c94c;
    }
  }


}

.cert{
  position: relative;
  display: block;
  @include tr;

  &:hover{
    transform: scale(1.2);
    @include lg-block{
      transform: none;
    }
    .cert__loop{
      opacity: 1;
      @include lg-block{
        opacity: 0;
      }
    }
  }

  &__loop{
    width: 64px;
    height: 64px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    display: flex;
    opacity: 0;
    @include tr;
  }


}