.feed{
  background: url("/images/content/feed/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 90px;
  @include lg-block{
    background: url("/images/content/feed/bg-t.jpg") 0 0 no-repeat;
    padding-top: 100px;
    padding-bottom: 110px;
  }
  @include sm-block{
    background: #f6f6f6 url("/images/content/feed/bg-m.png") 0 0 no-repeat;
    background-size: auto;
    padding-top: 40px;
  }


  &__container{
    display: flex;
    align-items: flex-start;
    @include sm-block{
        flex-wrap: wrap;
    }
  }

  &__left{
    margin-right: 50px;
    position: relative;

    @include lg-block{
      margin-right: 20px;
    }
    @include sm-block{
      margin-right: 0;
      width: 100%;
      order: 1;
    }
  }

  &__right{
    position: relative;
    padding-top: 20px;
    @include lg-block{
      padding-top: 0;
    }
    @include sm-block{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 265px;
    }
  }

  &__points{
    position: absolute;
    top: 300px;
    left: -220px;
    @include sm-block{
      display: none;
    }
  }

  &__form{
    width: 450px;
    @include lg-block{
      width: 350px;
    }
  }

  &__title{
    font-size: 40px;
    font-weight: 600;
    line-height: 108.5%;
    padding-bottom: 40px;
    position: relative;
    @include lg-block{
      font-size: 30px;
      padding-bottom: 50px;
    }
    @include sm-block{
      font-size: 20px;
      text-align: center;
      padding-bottom: 20px;
    }

    &:after{
      content: '';
      display: block;
      width: 380px;
      height: 18px;
      background-color: #f2c94c;
      position: absolute;
      bottom: 0;
      left: 0;
      @include lg-block{
        width: 326px;
      }
      @include sm-block{
        width: 100%;
        height: 8px;
      }
    }
  }

  &__quad{
    position: absolute;
    right: -20px;
    bottom: -130px;
    @include lg-block{
      right: 20px;
    }
    @include sm-block{
      display: none;
    }
  }
}

.form{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;

  max-height: 100%;
  overflow-y: auto;


  &__close{
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
  }

  &__wrap{
    padding: 50px 30px 30px 30px;
  }

  &__title{
    color: rgba(#000000,.9);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
  }

  &__sub{
    text-align: center;
    color: rgba(#1c1c1c,.9);
    font-size: 18px;
    font-weight: 500;
    line-height: 142%;
    margin-bottom: 35px;
    @include lg-block{
      font-size: 16px;
    }
    a {
      color: #f2c94c;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  &__txt{
    font-size: 13px;
    line-height: lh(13,20);
    text-align: center;
    margin-bottom: 35px;
  }

  &__fields{
    margin-bottom: 35px;
  }

  &__field{
    margin-bottom: 30px;
    position: relative;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__input{
    padding: 20px 25px;
    border-radius: 6px;
    border: 1px solid rgba(#000000,.2);
    width: 100%;

    &_2{
      padding: 10px;
    }

    &_area{
      height: 151px;
    }

    &.error {
      background-image: url("/images/icons/error.svg");
      background-position: right 10px center;
      background-repeat: no-repeat;
      border: 1px solid #eb5757;
    }

    &.valid {
      background-image: url("/images/icons/valid.svg");
      background-position: right 10px center;
      background-repeat: no-repeat;
      border: 1px solid rgba(#000000,.2);
    }

  }

  &__policy{
    font-size: 14px;
    line-height: lh(14,20);
    text-align: center;
    margin-bottom: 20px;
    a {
      color: #f2c94c;
      text-decoration: underline;
    }

    &_g{
      font-size: 11px;
      color: #666666;
      a{
        color: #666666;
      }
    }

  }

  &__submit{
    width: 243px;
    height: 96px;
    margin: 0 auto;
  }

  &__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    border-radius: 24px;
    background-color: #f2c94c;
    margin: 0 auto;

    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

}

label.error{
  color: #eb5757;
  font-size: 11px;
  position: absolute;
  top: calc(100% + 3px);
  left: 0;
}

.popup{
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($text, .8);
  align-items: center;
  justify-content: center;
  display: none;
  height: 100%;

  &.active {
    display: flex;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__form{
    max-width: 340px;
  }
}

.success{
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 50px 30px 30px 30px;
}