.photos{
  background: url("/images/content/photos/bg.png") center 110px no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #cccccc;
  @include lg-block{
    padding-top: 60px;
  }
  @include sm-block{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__top{
    margin-bottom: 10px;
  }

  &__title{
    text-align: center;
    margin-bottom: 90px;
    @include lg-block{
      margin-bottom: 60px;
    }
    @include sm-block{
      margin-bottom: 30px;
    }
  }

  &__row{
    position: relative;
  }

  &__left{
    @include col;
    @include size(12);
    position: relative;
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 20px;
    }

  }

  &__right{
    @include col;
    @include size(12);
    position: relative;
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 15px;
    }

  }

  &__li{
    padding-left: 40px;
    color: rgba(#1c1c1c,.9);
    font-size: 18px;
    font-weight: 500;
    line-height: 142%;
    position: relative;
    margin-bottom: 60px;
    @include lg-block{
      font-size: 16px;
    }
    @include sm-block{
      font-size: 14px;
      margin-bottom: 0;
    }
    &:before{
      content: '';
      display: block;
      width: 22px;
      height: 22px;
      background: url("/images/icons/check2.svg") 0 0 no-repeat;
      background-size: cover;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }

  &__img{
    position: relative;
    &:before{
      content: '';
      display: block;
      width: 267px;
      height: 296px;
      background-color: #f2c94c;
      position: absolute;
      left: -25px;
      top: -25px;
      @include lg-block{
        width: 159px;
        height: 176px;
        left: -15px;
        top: -15px;
      }
      @include sm-block{
        width: 151px;
        height: 168px;
        top: -10px;
        left: -10px;
      }
    }

    &_r{
      &:before{
        left: initial;
        top: 72px;
        right: -25px;

        @include lg-block{
          width: 159px;
          height: 176px;
          top: 50px;
          right: -15px;
        }
        @include sm-block{
          @include sm-block{
            width: 151px;
            height: 168px;
            bottom: -10px;
            right: -10px;
          }
        }

      }
    }

    &-img{
      position: relative;
      z-index: 2;
    }
  }

  &__txt{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px 30px;
    width: 402px;
    position: absolute;
    z-index: 2;
    bottom: 90px;
    left: 50%;
    margin-left: -201px;

    @include lg-block{
      width: 240px;
      padding: 15px 20px;
      margin-left: -120px;
      bottom: 50px;
    }
    @include sm-block{
      bottom: 27%;
    }

    &-txt{
      color: rgba(#1c1c1c,.9);
      font-size: 20px;
      font-weight: 500;
      line-height: 142%;
      @include lg-block{
        font-size: 16px;
      }
      @include sm-block{
        text-align: center;
      }
      &_y{
        background: #f2c94c;
      }
    }
  }

  &__slider{
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-container{
      padding: 10px;
      margin: 0 10px;
      flex-grow: 1;
      @include lg-block{
        padding: 0;
        margin: 0 15px;
      }
      @include sm-block{
        margin: 0;
        margin-right: -10px;
      }
    }
  }

  &__slide{
    @include sm-block{
      width: 130px;
    }
  }

  &__arr{
    @include lg-block{
        svg{
          width: 27px;
          height: 44px;
        }
    }
    @include sm-block{
      display: none;
    }
  }
}

.photo{
  padding-top: calc(156/219*100%);
  position: relative;
  display: block;
  @include tr;

  &:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    @include lg-block{
        box-shadow: none;
    }
  }

  &__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
