.prices{
  background: #f9f9f9 url("/images/content/prices/bg.png") 0 0 no-repeat;
  background-size: cover;
  padding-top: 135px;

  &__wrap{
    @include col;
    @include size(22);
    @include shift-left(2);
    padding-bottom: 130px;
    position: relative;
  }

  &__title{
    text-align: center;
    margin-bottom: 55px;
  }

  &__sub{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
    b {
      color: #f2c94c;
      font-weight: 700;
    }
  }

  &__txt{
    color: #1c1c1c;
    font-size: 24px;
    line-height: 142%;
    margin-bottom: 50px;
    text-align: center;
  }

  &__list{
    margin-bottom: 45px;
  }

  &__item{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }

  &__btn{
    width: 383px;
    height: 96px;
    margin: 0 auto;
  }

  &__img{
    position: absolute;
    bottom: 0;
    left: -425px;
  }

}

.price{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  padding: 60px 60px 40px 145px;
  display: flex;
  justify-content: space-between;

  &__left{
    max-width: 560px;
    margin-right: 20px;
  }

  &__title{
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  &__txt{
    color: rgba(#1c1c1c,.9);
    font-size: 18px;
    font-weight: 300;
    line-height: 142%;
  }

  &__old{
    color: rgba(#ff0000,.5);
    font-size: 28px;
    font-weight: 700;
    text-decoration: line-through;
    white-space: nowrap;
    margin-left: 30px;
  }

  &__new{
    white-space: nowrap;
    color: #333333;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 30px;
  }

  &__btn{
    min-width: 243px;
    width: 243px;
    height: 96px;
  }

  &__img{
    position: absolute;
    top: 0;
    left: 0;
  }

}