.promo{
  background: url("/images/content/promo/bg.png") center bottom no-repeat;
  background-size: cover;
  margin-top: -220px;
  border-bottom: 1px solid #cccccc;
  padding-top: 540px;
  @include lg-block{
    padding-top: 440px;
  }
  @include sm-block{
    padding-top: 320px;
  }

  &__top{
    position: relative;
    margin-bottom: 110px;
    @include lg-block{
      margin-bottom: 50px;
    }
    @include sm-block{
      margin-bottom: 40px;
    }
  }

  &__lamp{
    position: absolute;
    top: -100px;
    left: -450px;
    @include lg-block{
      display: none;
    }
  }

  &__title{
    text-align: center;
  }

  &__quad{
    position: absolute;
    top: -80px;
    right: 70px;
    @include lg-block{
      right: 0px;
    }

  }

  &__left{
    @include col;
    @include size(12);
    @include size-lg(20);
    @include shift-lg(2);
    @include lg-block{
      margin-bottom: 100px;
    }
    @include size-sm(24);
    @include shift-sm(0);
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__right{
    @include col;
    @include size(12);
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
    @include size-lg(24);
    @include sm-block{
      display: flex;
      flex-direction: column;
    }
  }

  &__list{
    @include row-flex;
    margin-bottom: 60px;
  }

  &__col{
    @include col;
    @include size(12);
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 35px;
    }
  }

  &__item{
    padding-left: 30px;
    position: relative;
    font-weight: 500;
    line-height: lh(16,22.72);
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 22px;
      height: 22px;
      background: url("/images/icons/check2.svg") 0 0 no-repeat;
      background-size: cover;
    }
  }

  &__btn{
    width: 383px;
    height: 96px;
    @include lg-block{
      margin: 0 auto;
    }
    @include sm-block{
      max-width: 324px;
      height: 81px;
    }
  }

  &__block{
    position: relative;
    z-index: 3;
    width: 321px;
    margin: 0;
    margin-left: auto;
    background-color: rgba(#000000,.5);
    padding: 60px 35px;
    transform: skewY(-7deg);

    &-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: skewY(7deg);
    }

    &-name{
      color: #ffffff;
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 10px;
      border-bottom: 5px solid #f2c94c;
      margin-bottom: 20px;
    }

    &-title{
      color: #ffffff;
      font-size: 18px;
      line-height: 142%;
      margin-bottom: 25px;
      @include sm-block{
        font-size: 16px;
      }
    }

    &-txt{
      color: rgba(#ffffff,.9);
      font-weight: 300;
      line-height: lh(16,22.72);
    }

  }

  &__img{
    position: absolute;
    bottom: -5px;
    right: 60px;
    @include sm-block{
      position: static;
      order: -1;
      margin-bottom: -100px;
    }

    &-img{
      position: relative;
      z-index: 2;
      max-width: initial;
      @include sm-block{
        max-width: 100%;
      }
    }
  }

  &__img2{
    position: absolute;
    bottom: 0;
    left: -120px;
    &-img{
      max-width: initial;
    }
  }


}