.rates{
  background: url("/images/content/rates/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 160px;
  @include lg-block{
    padding-top: 60px;
    padding-bottom: 30px;
    background-image: url("/images/content/rates/bg-t.jpg")
  }
  @include sm-block{
    padding-top: 40px;
    background: none;
    padding-bottom: 0;
  }

  &_2{
    background-image: none;
    padding-top: 0;
    .rates{
      &__title{
        text-align: left;
        @include lg-block{
          text-align: center;
        }
      }
      &__txt{
        opacity: 0.9;
        color: #1c1c1c;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 50px;
        @include lg-block{
          font-size: 16px;
          text-align: center;
        }
        @include lg-block{
          font-size: 14px;
        }
      }
    }
  }

  &__top{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @include lg-block{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title{
    text-align: center;
    margin-bottom: 25px;
    @include lg-block{
      margin-bottom: 30px;
    }
  }

  &__txt{
    max-width: 617px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    color: rgba(#1c1c1c,.9);
    font-size: 20px;
    font-weight: 700;
    line-height: lh(20,32.7);
    @include lg-block{
      font-size: 16px;
      margin-bottom: 40px;
    }
    @include sm-block{
      font-size: 14px;
    }
  }

  &__list{
    @include row-flex;
    @include lg-block{
      padding: 0 80px;
    }
    @include sm-block{
      padding: 0;
    }
  }

  &__item{
    @include col;
    @include size(4);
    @include size-lg(8);
    @include lg-block{
      margin-bottom: 20px;
    }
    @include size-sm(12);
  }

  &__img{
    display: none;
    margin: 0 -10px;
    @include sm-block{
      display: block;
    }

    &-img{
      width: 100%;
    }
  }


}

.rate{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img{
    height: 40px;
    margin-bottom: 15px;
    &-img{
      max-height: 100%;
    }
  }

  &__txt{
    color: rgba(#000000,.5);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__rate{
    font-size: 18px;
    font-weight: 700;
  }

  &__stars{
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
  }

  &__star{
    margin-left: 4px;
    margin-right: 4px;

    &-svg{
      width: 16px;
      height: 16px;
      fill: #e5e5e5;

      &.active{
        fill: #ffc107;
      }
    }


  }


}