-
    var nav = [
        {
            title: 'О нас',
            href:'#about'
        },
        {
            title: 'Примеры работ',
            href:'#exs'
        },
        {
            title: 'Цены',
            href:'#prices'
        },
        {
            title: 'Клиника',
            href:'#photos'
        },
        {
            title: 'Отзывы',
            href:'#revs'
        },
        {
            title: 'Сертификаты',
            href:'#certs'
        },

    ];
-
    var actionsList = [
        {
            title: 'Имплантация “под ключ” от ',
            oldPrice: '50 000 ',
            price: '46 000 руб.',
            date: 'Акция до 30 мая',
        },
        {
            title: 'Протезирование <br>',
            oldPrice: '30 000 ',
            price: '24 000 руб',
            date: 'Акция до 30 мая',
            cls: 'action_wt'
        },
        {
            title: 'Виниры и коронки <br>',
            oldPrice: '50 000 ',
            price: '46 000 руб.',
            date: 'Акция до 30 мая',
            cls: 'action_oc',
            points: true
        },
        {
            title: 'Лечение кариеса <br>',
            oldPrice: '50 000 ',
            price: '46 000 руб.',
            date: 'Акция до 30 мая',
            cls: 'action_b'
        },
        {
            title: 'Профессиональная гигиена ',
            oldPrice: '40 000 ',
            price: '32 000 руб.',
            date: 'Акция до 30 мая',
            cls: 'action_g',
            points2: true
        },
        {
            title: 'Отбеливание <br>',
            oldPrice: '36 000 ',
            price: '30 000 руб.',
            date: 'Акция до 30 мая',
            cls: 'action_wt'
        },

    ];
-
    var actionList = [
        'Внешний вид имплантированного зуба является настолько естественным, что отличить его от натурального невозможно ни сразу после установки, ни через 10-20 лет;',
        'Качество жевательной функции восстанавливается на 100%;',
        'Постоянная нагрузка на костную ткань челюсти, которую передает вживленный имплантат, предотвращает развитие атрофических процессов;',
        'Простота ухода за имплантированными зубами.'
    ]
-
    var advs = [
        'Большой опыт <br> работы',
        'Чуткий подход к <br> каждому клиенту',
        'Квалифицированные <br> специалисты',
        'Инновационные <br> технологии и материалы',
    ];
-
    var promoList = [
        [
            'Прогнозируемый результат',
            'Врачи повышают квалификацию по всему миру с применением самых современных мировых протоколов и стандартов ',
            'Фиксируемая цена без доплат'
        ],
        [
            'Документальная гарантия 5 лет прописанная в договоре',
            'Красиво. Подбираем форму, размер и цвет зубов под Ваши черты лица',
            'Работа с оптикой под увеличением '
        ]
    ];
-
    var revsSlides = [
        'Николай Новиков',
        'Анна Смирнова',
        'Алексей Прохоров',
        'Нина Андреева',
        'Ольга Николаевна',
        'Николай Новиков',
        'Анна Смирнова',
        'Алексей Прохоров',
        'Нина Андреева',
        'Ольга Николаевна'
    ];
-
    var ratesList = [
        {
          stars: false
        },
        {
          stars: false
        },
        {
          stars: true
        },
        {
          stars: false
        },
        {
          stars: true
        },
        {
          stars: false
        }
    ];